* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.body {
  background-color: #eee;
  width: 100%;
  color: black;
}
.body.dark {
  background-color: black;
  color: #eee;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  font-size: 1rem;
  align-items: center;
  background-color: inherit;
}
.header.active {
  background-color:rgb(56, 39, 26) ;
}
.nav-desktop {
  display: flex;
  align-items: center;
}
.nav-mobile {
  display: none;
}
.nav-desktop .nav-links {
  display: flex;
}
 .nav-links li:hover {
 opacity: 0.75;
}
.logo {
  color: gold;
  font-size: 1.2rem;
  margin-left: 1rem;
}
.logo span {
  color: green;
  font-size: 1.3rem;
}
.call-to-action {
  display: flex;
  margin-right: 3rem;
  align-items: center;
}

.theme {
  
  font-size: .9rem;
  height: 40px;
  padding: .2rem;
  cursor: pointer;
  color: orangered;
  background: transparent;
  border: none;
  transform: translateY(100%);
}

.header ul {
  margin-right: 10rem;
  display: flex;
}

.header ul li {
  list-style: none;
  margin-left: 1.5rem;
  cursor: pointer;
}
.active {
  text-decoration: none;
  color: inherit;
}
.btn {
  font-size: 0.9rem;
  background-color: transparent;
  border-radius: 0.4rem;
  padding: 0.3rem 0.7rem;
  color: inherit;
  border: 2px solid gold;
  cursor: pointer;
}
.btn:hover {
  opacity: .75;
}
/* related to JS */
.nav-toggler {
  height: 34px;
  width: 36px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  display: none;
  position: absolute;
  right: 10px;
  background-color: #fff;
}
.nav-toggler:focus {
  outline: none;
  
}
.nav-toggler span {
  height: 2px;
  width: 20px;
  background-color: black;
  display: block;
  margin: auto;
  position: relative;
}
.nav-toggler.active span {
  background-color: transparent;
}
.nav-toggler span::before,
 .nav-toggler span::after {
content: '';
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: black;
}
.nav-toggler span::before {
  transform: translateY(6px);
}
.nav-toggler.active span::before {
  transform: rotate(45deg);
  background-color: white;
}
.nav-toggler span::after {
    transform: translateY(-6px);
}
.nav-toggler.active span::after {
  transform: rotate(135deg);
  background-color: white;
}
.call-to-action .bi-cart-fill {
  padding-left: .8rem;
  cursor: pointer;
}
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-wrapper {
  margin: 5rem 3rem;
  display: flex;
  justify-content: space-between;
}
.text-content {
  width: 50%;
  margin: 0 auto;
  margin-top: 1rem;
}
.text-content p {
  margin-bottom: 2rem;
}
.learn-more {
  font-weight: 500;
  margin-top: 6rem;
  text-decoration: none;
  color: white;
  background-color: orangered;
  padding: .8rem .6rem;
  border-radius: 5px;
  cursor: pointer;
}
.learn-more .bi-arrow-right-short{
  padding-top: 1rem;
  transform: scale(1.5);
}
.learn-more .bi-arrow-right-short.active {
  display: none;
}
.food-images {
  width: 40%;
  margin-left: 30%;
}

img {
  object-position: center;
  object-fit: cover;
  max-width: 100%;
}
.col {
  color: black;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
}
.steps-col {
  padding: 2rem 0;
  background-color: blueviolet;
}
.col-1,
.col-2,
.col-3,
.col-4,
.food-variety {
  width: 150px;
  height: 150px;
}
.col-1 {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.col-2 {
  margin-bottom: 0.5rem;
}
.col-3 {
  margin-right: 0.5rem;
}

/*bottom-area styling starts here */
.top,
.bottom {
  margin-top: 3rem;
}
.title {
  text-align: center;
  margin-bottom: 1.2rem;
}
.rows {
  display: flex;
  justify-content: space-evenly;
}
.col_1 {
  background-color: white;
  text-align: center;
  border-radius: 10px;
  width: 22%;
}
.col_1 > * {
  margin-bottom: .5rem;
}
#col_1 {
  background-color: white;
  text-align: center;
  padding: 2.5rem .8rem 1rem;
  border-radius: 10px;
  width: 22%;
}

.food-variety {
  margin-top: 1rem;
  border-radius: 50%;
}
.cart {
  margin-bottom: 1.2rem;
  text-decoration: none;
  background-color: orangered;
  color: white;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  text-transform: capitalize;
}

.food-gallery {
  text-decoration: none;
  background-color: white;
  color: orangered;
  padding-right: 0.7rem;
  padding-left: .7rem;
  padding-bottom: .3rem ;
  padding-top: -4rem;
  border: 1px solid orangered;
  border-radius: 5px;
  display: inline-block;
  margin: 1rem 0;
}
.testimony-section {
  margin-top: 2rem;
background-color: inherit;
padding-bottom: 2rem;
}

.food-gallery-link {
  text-align: center;
  display: none;
}
.food-gallery .bi-arrow-right-short{
  padding-top: 1rem;
  transform: scale(1.5);
}
.testimonials {
  margin-top: 1.5rem;
}
.carousel-section {
  width: 95%;
  margin: 0 auto;
  padding: 4rem 0;
  position: relative;
}
.swiper {
  background-color: rgb(56, 39, 26);
}
.swiper-slide {
  margin: 0 auto;
  background-color: rgb(56, 39, 26);
  color: white;
  padding: 1.5rem 0;
  position: absolute;
  top: 0;
  bottom: 0;
}

.swiper-slide .customer-name {
  margin: 1.5rem 0;
  text-align: center;
}
.swiper-slide .testimony {
  line-height: 1.5;
  width: 75%;
  text-align: center;
  margin: 2rem auto;
}
.swiper-slide .ratings {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0 1.6rem 0;
}
.swiper-slide .ratings svg + svg {
  margin-left: .5rem;
}
.swiper-slide img {
  position: absolute; /*  relative to .swiper-slide */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
 bottom: -.5rem ;
 left: 30%;
}


.testimonial-main-title {
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem 0;
  color: inherit;
}

.contact-section {
  background-color: #eee ;
  background-image: url(images/breakfast.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 2rem;
}
.form-header {
  text-align: center;
  padding: 2rem 0;
  color:black;
}
.form-header p {
  font-weight: 600;
  font-size: 18px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 45%;
  margin: 0 auto;
  padding: 2rem 0;
}
.form-group {
  width: 85%;
}
.form-group input {
  width: 100%;
  height: 40px;
  margin: 0.5rem 0;
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  background-color: #eee;
  border-color: #eee;
}

.form-group textarea {
  width: 100%;
  display: block;
  resize: none;
  height: 16.75rem;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  margin-top: 0.5rem;
  background-color: #eee;
  padding-top: 2rem;
  border-color: #eee;
}
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}
.form-group a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background-color: orangered;
  color: white;
  width: 100%;
  margin-top: 1rem;
  padding: 0.7rem 0.8rem;
  border-radius: 5px;
}
.footer {
  padding-bottom: 2rem;
  background-color: inherit;
}
.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-left {
  padding-top: 3rem;
  width: 40%;
}
.footer-logo {
  margin-left: 0;
}
.subscribe {
  margin-top: 4.5rem;
  color: orangered;
}
.subscribe p {
  white-space: nowrap; 
  /* this is used to prevent the text from breaking in the responsive mode */
}
.subscribe-form {
  width: 40%;
  display: flex;
  padding-top: 0.4rem;
  flex-direction: row;
background-color: inherit;
margin-left: 3.2rem;
}
/* (chrome, firefox, opera, safari 10.1+ firefox has
 a default lower opacity for placeholder, so we set opacity to 1 ) */
.subscribe-form ::placeholder { 
  color: rgb(56, 39, 26);
  opacity: 1;
}
/* IE 10 - 11 */
.subscribe-form :-ms-input-placeholder {
  color: rgb(56, 39, 26);
}
/* microsoft edge */
.subscribe-form ::-ms-input-placeholder {
  color: rgb(56, 39, 26);
}
.subscribe-input {
  padding: .8rem;
  color: rgb(56, 39, 26);
}
.subscribe-btn {
  background-color: orangered;
  padding: .9rem;
  color: white;
  border: none;
  width: 100%;
}
.footer-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-right {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.footer-links {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
}
.footer-links a:not(:last-child) {
  line-height: 1.5rem;
}
.footer-links a {
  color: orangered;
}
.footer-social {
  color: orangered;
  padding-bottom: 4rem;
}
.footer-social p {
  margin-bottom: .5rem;
}
.footer-social a {
  color: orangered;
  padding-right: .5rem;
}
hr {
  margin-bottom: 1rem;
  background-color: #fff;
}
.copyright {
  text-align: center;
  color: orangered;
}
/* media queries for mobile layout starts here */
@media (max-width: 760px) {
  html {
    font-size: 18px;
  }
.header {
  display: block;
  overflow-x: hidden;
  position: relative;
}
.theme {
  transform: translateY(108%);
}

.nav-desktop {
  display: none;
}
.nav-mobile {
  position: fixed;
  right: -250px;
  top: 0;
  width: 250px; 
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease;
  background-color: rgba(56, 39, 26, 0.98) ;
}
.nav-mobile.open {
  visibility: visible;
  transition: all 0.35s ease-in-out;
  opacity: 1;
  right: 0;
}

.nav-mobile .nav-links {
 display: block;
 width: 100%;
  margin-top: 5rem;
}

.nav-links li {
  margin-bottom: .7rem;
  line-height: 2.5;
  display: block;
  color: white;
}

.btn {
  margin-left: 1.6rem;
  margin-top: .8rem;
  color: white;
}
  .nav-toggler {
    display: block ;
  }
  .nav-left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   .call-to-action svg {
    display: none;
  } 
  
  .hero-wrapper {
    flex-direction: column;
  }
  .logo {
    margin-left: 2rem;
    font-size: 1.2rem;
  }
.secondary-column {
  display: none;
}
.column .col-2 {
  display: none;
}
  .food-images {
    width: 100%;
    margin: 3rem 0;
    text-align: center;
  }
  .food-image {
    min-height: 250px;
    width: 250px;
    border-radius: 50%;
  }
  .text-content {
    width: 100%;
    text-align: center;
    margin-top: 0;
  }
  .text-content h1 {
    font-size: 30px;
  }
  .rows {
    flex-direction: column;
  }
  .col {
    width: 100%;
    margin: 1rem auto;
  }
  #col_1 {
    width: 70%;
  }
  .col_1 {
    width: 70%;
  }
  .bottom .title {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .title p {
    text-align: center;
    margin: 0 auto;
  }
  .col-4 {
    margin-top: 0.5rem;
  }

  .column {
    text-align: center;
    margin: 0 auto;

  }
  .swiper-slide img {
    left: 6%;
    width: 90px;
    height: 90px;
    bottom: 8%;
  }
  .footer-section {
    flex-direction: column;
  }
  .subscribe {
    margin-top: 0.5rem;
  }
  .footer-left {
    width: 90%;
  }
  .footer-left .logo, .footer-left p {
    text-align: center;
  }
  .subscribe-form {
    width: 90%;
    margin-left: 0;
    margin: 0 auto;
  }
  .subscribe-input {
    width: 100%;
  }
  
  .subscribe-btn {
    width: 30% ;
    text-align: center;
  }
  
  .footer-right {
    width: 70%;
  }
  

  .footer-links {
    margin-left: -1.8rem;
    margin-bottom: .6rem;
  }
}
@media (max-width:600px) {
  form {
    width: 80%;
  }
}

